#navbar {
  background-color: white;
}
#navbar button {
  text-decoration: none;
  border: 2px solid;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  font-size: large;
}
#navbar .RecipeMonth {
  border: black 3px solid;
  color: rgb(243, 220, 176);
  font-size: x-large;
  border-radius: 15px;
  height: 50px;
  padding: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: url(https://media.istockphoto.com/photos/stewed-beef-with-potatoes-and-carrots-picture-id648960330?b=1&k=20&m=648960330&s=170667a&w=0&h=4YoMqtqApVXXGDb4BL__ISTIG9KfKxJBRWlIFNAdmps=);
  background-size: cover;
}
#navbar .navbarTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 15px 1% auto;
}
#navbar .navbarTop :hover {
  transform: scale(1.05);
}
#navbar .navbarBottom {
  display: flex;
  justify-content: space-around;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding: 2%;
}
#navbar .navbarBottom :hover {
  text-decoration: underline;
}
#navbar a {
  text-decoration: none;
  color: black;
}
#navbar img {
  width: 100px;
  border: 2px solid;
  border-radius: 25px 0 25px 0;
}

main {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 15px;
  margin: 15px;
}
main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0 0;
}
main div {
  position: relative;
}
main p {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  height: 18%;
  text-align: center;
  margin-bottom: 0;
  opacity: 65%;
  font-weight: bold;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

footer {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .links :last-child {
  border-right: none;
}
footer .links :hover {
  text-decoration: underline;
}
footer .links a {
  color: white;
  text-decoration: none;
  align-items: center;
  margin: 20px;
  border-right: white 1px solid;
  padding-right: 50px;
}
footer p {
  margin-top: 0;
}
footer img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1800px) {
  .navbarBottom {
    font-size: large;
  }
}
@media screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
  footer {
    font-size: small;
  }
}
@media screen and (max-width: 480px) {
  main {
    display: grid;
    grid-template: 400px/250px;
    /*must add px measurement for this grid because one of the images was to small and was shrinking with fr measurement*/
    justify-content: center;
  }
  main img {
    height: 400px;
  }
  #navbar .navbarTop img {
    width: 75px;
  }
  #navbar .navbarBottom {
    font-size: small;
  }
  #navbar .links {
    display: flex;
    flex-direction: column;
  }
  #navbar button {
    width: 75px;
    padding: 5px;
    font-size: small;
  }
  #navbar .RecipeMonth {
    font-size: medium;
    border-radius: 15px;
    height: 25px;
    padding: 15px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
}
#Month {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#Month h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-decoration: underline;
}
#Month ul {
  list-style-type: none;
  padding: 5px;
  border: solid;
}
#Month ul li {
  padding: 5px;
  font-weight: 800;
}
#Month ol {
  border: 3px solid;
  border-radius: 20px;
  padding: 20px;
  background-color: lightgrey;
}
#Month ol :last-child {
  border-bottom: none;
}
#Month ol li {
  padding: 5px;
  border-bottom: 2px solid;
}
#Month .advice a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 2px;
  border-radius: 5px;
}/*# sourceMappingURL=index-style.css.map */