#navbar {
  background-color: white;
}
#navbar .search {
  display: flex;
  flex-direction: column-reverse;
  width: 140px;
  align-items: center;
  border: 2px solid;
  border-radius: 15px;
  padding: 10px;
  background-color: black;
  font-size: large;
  text-align: center;
  gap: 3px;
}
#navbar .search button {
  text-decoration: none;
  background-color: white;
  width: 100px;
  border-radius: 10px;
}
#navbar .search input {
  width: 120px;
  border: 1px solid;
  text-align: center;
  border-radius: 10px;
}
#navbar .RecipeMonth {
  border: black 3px solid;
  color: white;
  font-size: x-large;
  border-radius: 15px;
  height: 50px;
  width: 140px;
  padding: 15px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-image: url(https://media.istockphoto.com/photos/stewed-beef-with-potatoes-and-carrots-picture-id648960330?b=1&k=20&m=648960330&s=170667a&w=0&h=4YoMqtqApVXXGDb4BL__ISTIG9KfKxJBRWlIFNAdmps=);
  background-size: cover;
}
#navbar .navbarTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 15px 1% auto;
}
#navbar .navbarTop :hover {
  transform: scale(1.05);
}
#navbar .navbarBottom {
  display: flex;
  justify-content: space-around;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  padding: 2%;
}
#navbar .navbarBottom :hover {
  text-decoration: underline;
}
#navbar a {
  text-decoration: none;
  color: black;
}
#navbar img {
  width: 100px;
  border: 2px solid;
  border-radius: 25px 0 25px 0;
}

main {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  gap: 15px;
  margin: 15px;
}
main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px 30px 0 0;
}
main div {
  position: relative;
}
main p {
  position: absolute;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  height: 18%;
  text-align: center;
  margin-bottom: 0;
  opacity: 65%;
  font-weight: bold;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
}

.main-grid :hover {
  transform: scale(1.01);
}

footer {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .links :last-child {
  border-right: none;
}
footer .links :hover {
  text-decoration: underline;
}
footer .links a {
  color: white;
  text-decoration: none;
  align-items: center;
  margin: 20px;
  border-right: white 1px solid;
  padding-right: 50px;
}
footer p {
  margin-top: 0;
}
footer img {
  width: 25px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1800px) {
  .navbarBottom {
    font-size: large;
  }
}
@media screen and (max-width: 768px) {
  main {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
  footer {
    font-size: small;
  }
}
@media screen and (max-width: 480px) {
  main {
    display: grid;
    grid-template: 400px/250px;
    /*must add px measurement for this grid because one of the images was to small and was shrinking with fr measurement*/
    justify-content: center;
  }
  main img {
    height: 400px;
  }
  #navbar .navbarTop img {
    width: 50px;
  }
  #navbar .navbarBottom {
    font-size: small;
  }
  #navbar .links {
    display: flex;
    flex-direction: column;
  }
  #navbar .search {
    width: 80px;
    padding: 2px;
  }
  #navbar .search button {
    width: 50px;
    font-size: x-small;
  }
  #navbar .search input {
    width: 75px;
    font-size: x-small;
  }
  #navbar .RecipeMonth {
    font-size: x-small;
    border-radius: 15px;
    height: 25px;
    width: 50px;
  }
  .gridAbout .who {
    font-size: large;
  }
  .gridAbout .whoContent {
    font-size: small;
    padding: 15px;
  }
  .gridAbout .why {
    font-size: large;
  }
  .gridAbout .whyContent {
    font-size: small;
  }
  .gridAbout .otherInfos {
    font-size: large;
  }
  .gridAbout .otherContent {
    font-size: small;
    padding: 15px;
  }
}
#Month {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#Month h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  text-decoration: underline;
}
#Month ul {
  list-style-type: none;
  padding: 5px;
  border: solid;
}
#Month ul li {
  padding: 5px;
  font-weight: 800;
}
#Month ol {
  border: 3px solid;
  border-radius: 20px;
  padding: 20px;
  background-color: lightgrey;
}
#Month ol :last-child {
  border-bottom: none;
}
#Month ol li {
  padding: 5px;
  border-bottom: 2px solid;
}
#Month .advice a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 2px;
  border-radius: 5px;
}

.gridAbout {
  display: grid;
  grid-template: repeat(4, 150px)/repeat(4, 1fr);
  gap: 0;
  border: 2px solid;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1596040033229-a9821ebd058d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3BpY2VzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  grid-area: 1/1/2/5;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  text-shadow: black 10px 4px 6px;
  padding: 25px;
}

.who {
  grid-area: 2/1/3/2;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: xx-large;
}

.whoContent {
  grid-area: 2/2/3/5;
  border: 2px solid;
  font-size: x-large;
  color: white;
  font-weight: bold;
  text-shadow: black 10px 4px 6px;
  padding: 25px;
}

.why {
  grid-area: 3/4/4/5;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: xx-large;
}

.whyContent {
  grid-area: 3/1/4/4;
  border: 2px solid;
  font-size: x-large;
  color: white;
  font-weight: bold;
  text-shadow: black 10px 4px 6px;
  padding: 25px;
}

.otherInfos {
  grid-area: 4/1/5/2;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: xx-large;
}

.otherContent {
  grid-area: 4/2/5/5;
  border: 2px solid;
  font-size: x-large;
  color: white;
  font-weight: bold;
  text-shadow: black 10px 4px 6px;
  padding: 25px;
}/*# sourceMappingURL=index-style.css.map */