@media screen and(max-width: 1800px){
    .navbarBottom{
        font-size: large;
    }

}

@media screen and(max-width: 768px){
    main{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    footer{
        font-size: small;
    }
}

@media screen and(max-width: 480px){
    main{
        display: grid;
        grid-template: 400px / 250px;
        /*must add px measurement for this grid because one of the images was to small and was shrinking with fr measurement*/
        justify-content: center;
        img{
            height: 400px;
        }
    }
    .navbarBottom{
        font-size: small;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
}
