@media screen and(max-width: 1800px){
    .navbarBottom{
        font-size:large;
    }
  
    

}

@media screen and(max-width: 768px){
    main{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    footer{
        font-size: small;
    }
}

@media screen and(max-width: 480px){
    main{
        display: grid;
        grid-template: 400px / 250px;
        /*must add px measurement for this grid because one of the images was to small and was shrinking with fr measurement*/
        justify-content: center;
        img{
            height: 400px;
        }
    }
    #navbar{
    .navbarTop{
        img{
            width:50px;
        }
    }
    .navbarBottom{
        font-size: small;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
   
    .search {
        width: 80px;
        padding: 2px;
        button{
            width: 50px;
            font-size: x-small;


        }
        input{
            width: 75px;
            font-size: x-small;
        }
    }
    .RecipeMonth{
        
           
           font-size: x-small;
            border-radius: 15px;
            height: 25px;
            width: 50px;
          
        }    
    }
    .gridAbout{
    .who{
        font-size: large;
    }
    .whoContent{     
        font-size: small;
        padding: 15px;       
    }
    .why{
        font-size: large;
    }
    .whyContent{
        font-size: small;
    }
    .otherInfos{
        font-size:large;
    }
    .otherContent{
        font-size: small;
        padding: 15px;

    }}
    
    #Month{
        div{
        p{
            font-size: medium;
        }
    }
    }
}

