@media screen and(max-width: 1800px){
    .navbarBottom{
        font-size: large;
    }

}

@media screen and(max-width: 768px){
    main{
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    footer{
        font-size: small;
    }
}

@media screen and(max-width: 480px){
    main{
        display: grid;
        grid-template: 400px / 250px;
        /*must add px measurement for this grid because one of the images was to small and was shrinking with fr measurement*/
        justify-content: center;
        img{
            height: 400px;
        }
    }
    #navbar{
    .navbarTop{
        img{
            width:75px;
        }
    }
    .navbarBottom{
        font-size: small;
    }
    .links{
        display: flex;
        flex-direction: column;
    }
    button{
       
        width: 75px;        
        padding: 5px;
        font-size: small;
    }
    
    .RecipeMonth{
           
            font-size: medium;
            border-radius: 15px;
            height: 25px;
            padding: 15px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          
        }    
    }
}
