#navbar{
    background-color: white;

    .search{
        display: flex;
        flex-direction: column-reverse;
        width: 140px;
        align-items: center;
        border: 2px solid;
        border-radius: 15px;
        padding: 10px;
        background-color: black;
        font-size: large;
        text-align: center;
        gap: 3px;

    button{
        text-decoration: none;
        background-color: white;
        width: 100px;
border-radius: 10px;
    }
    input{
        width: 120px;
        border:1px solid;
        text-align: center;
        border-radius: 10px;

    }
    }

    .RecipeMonth{
        border: black 3px solid;
        color: white;
        font-size: x-large;
        border-radius: 15px;
        height: 50px;
        width: 140px;
        padding: 15px;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-image: url(https://media.istockphoto.com/photos/stewed-beef-with-potatoes-and-carrots-picture-id648960330?b=1&k=20&m=648960330&s=170667a&w=0&h=4YoMqtqApVXXGDb4BL__ISTIG9KfKxJBRWlIFNAdmps=);
        background-size: cover;
    }    
    
    .navbarTop{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 15px 1% auto;


        :hover{
            transform: scale(1.05);}
    }
    .navbarBottom{
        display: flex;
        justify-content: space-around;
        border-top: solid 2px black;
        border-bottom: solid 2px black;
        padding: 2%;

        :hover{
            text-decoration: underline;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
    img{
        width: 100px;
        border: 2px solid;
        border-radius: 25px 0 25px 0;
        
    }
}